body {
	margin: 0;
	padding: 0;
}

.landing{
	background-image: url(https://lifehacker.ru/special/bookscriptor/i/pages/istorii-uspeha-sovremennyh-pisatelej/bg.jpg);
	background-size: cover;
	max-width: 100%;
	color: #ffffff;
}

.container{
	max-width: 940px;
	margin:0 auto;
}

.heading {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 410%;
	padding-left: 10px;
	padding-top: 100px;
}

.text{
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 170%;
	padding: 40px;
}

a.boton1{
  font-family: 'Noto Sans JP', sans-serif;
  background: #FFCF40;
  color: #000;
  border-radius: 20px;
  text-decoration:none;
  display:block;
  max-width: 500px;
  min-height: 50px;
  text-align:center;
  margin: 20px auto;
  padding: 10px;
  font-size: 170%;
  }


 a.boton1:hover{
 	 background: #FFAA00;
 }

.photo{
	float: left;
}

.description{
	float: right;
}

.box{
	margin:0 auto;
	display: flex;
	justify-content: center;
	}


.skills{
	background-image: url(https://elmantrade.ru/netcat_files/20646/52336/h_cc79ffc7f2496ee8051ef1ee68f7ff92);
	background-size: cover;
	max-width: 100%;
}

.card{
	padding: 10px;
	margin: 10px;
	width: 300px;
}

a.boton2{
  font-family: 'Noto Sans JP', sans-serif;
  background: #D3D3D3;
  color: #000;
  border-radius: 20px;
  text-decoration:none;
  display:block;
  max-width: 500px;
  min-height: 50px;
  text-align:center;
  margin: 20px auto;
  padding: 10px;
  font-size: 160%;
  }


 a.boton2:hover{
 	 background: #A9A9A9;
 }

 a.vk{
  font-family: 'Noto Sans JP', sans-serif;
  color: #000;
 }

 .padding {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 250%;  
	text-align:center;
	padding: 20px;

}

p{
	padding: 15px;
}

@media (max-width: 1199px){ 
	.heading {
		font-size: 370%;
	}
}

@media (max-width: 991px){ 
	.heading {
		font-size: 370%;
	}
}

@media (max-width: 767px){ 
	.heading {
		padding-top: 50px;
		font-size: 300%;
	}

	.text{
		font-size: 120%;
	}

	.box{
	display: flex;
	flex-wrap: wrap;
	}


	a.boton1{
  margin: 10px auto;
  padding: 10px;
  font-size: 120%;
  
  max-width: 300px;
  }

  a.boton2{
  margin: 10px auto;
  padding: 10px;
  font-size: 120%;
  max-width: 300px;
  }

  .card{

}
.padding {
	font-size: 150%;  
	text-align:center;
}

p{
	padding: 5px;
}
}

@media (max-width: 575px){ 
	.heading {
		padding-top: 50px;
		font-size: 250%;
	}

	.text{
		font-size: 120%;
	}

	.box{
	display: flex;
	flex-wrap: wrap;
	}


	a.boton1{
  margin: 10px auto;
  padding: 10px;
  font-size: 120%;
  
  max-width: 300px;
  }

  a.boton2{
  margin: 10px auto;
  padding: 10px;
  font-size: 120%;
  max-width: 300px;
  }

  .card{
  	display: none;
}
.padding {
	font-size: 100%;  
	text-align:center;
}

p{
	padding: 5px;
}


}